```
# Dependencies
node_modules/
package-lock.json

# Logs and temp files
*.log
*.tmp

# Environment
.env
.env.local
*.env.*

# Editors
.vscode/
.idea/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.ENV
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git/
.mypy_cache/
.pytest_cache/
.hypothesis/

# Build results
build/
.sass-cache/
connect.lock
coverage/
lib/
lib-cov/
*.tgz
.node_repl_history
*.min.js
*.min.css

# IDE
*.swp
*.swo
*~
```